.footer {

    grid-area: footer;

    background: $footer-color;

    @include center;

    &__title {

        color: white;

        font-size: 2.5rem;

        font-weight: normal;

    }

}
