.nav{
    grid-area:nav;
    background:#ddd;

    &__list{
        list-style:none;
        padding:0;
    }

    &__item{
        padding:15px;
    }
}

.main{
    grid-area:main;
    padding:$spacing;

    display:flex;
    justify-content:center;
    align-items:center;
}

.sidebar{
    grid-area:sidebar;
    background:#eee;

    @include center;
}

.card{

    @include card;

    display:flex;
    flex-direction:column;
    gap:10px;

    &__title{
        color:$primary;
    }

    &__text{
        color:$text;
    }
}