.main {

    grid-area: main;

    background: $main-color;

    @include center;

    &__title {

        color: $text-color;

        font-size: 2.5rem;

        font-weight: normal;

    }

}
