$header-color: #ff3333;
$nav-color: #7cd400;
$sidebar-color: #7a2ec8;
$main-color: #ff6d00;
$footer-color: #2218a8;

$text-color: white;

$header-height: 120px;
$nav-height: 70px;
$footer-height: 120px;
$sidebar-width: 300px;
